* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Titillium Web', sans-serif;
}

h1{ font-size: 66px; font-weight: 600; line-height: 80px;}
h2 {font-size: 48px; margin-bottom: 30px;}
h5{ margin-bottom: 0px;}
p{font-size: 18px;color: #999999;line-height: 1.8;margin-bottom: 0;}

a:hover{
    text-decoration: none;
}

a i{
    font-size: 22px;
    color: #ffffff;
}

section {
    padding: 120px 0;
}
.bg-light-grey{background-color: #f5f5f5f5;}
.bg-dark{ background-color: #1a1a1a !important; }

.topmargin-xs{margin-top: 15px !important;}
.topmargin-sm{margin-top: 30px !important;}
.topmargin-lg{margin-top: 60px !important;}

.plan h2 span {
    font-size: 20px;
}

.btn{
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}
.btn-dark{
    background-color: #1a1a1a;
    color: #ffffff;
    border:2px solid #1a1a1a;
}

.btn-claro{
    background-color: transparent;
    color: #ffffff;
    border:2px solid #ffffff;
}

.full-width {
    width: 100%;
}

.btn-claro:hover{
    color: #ffffff;
}

.btn-ligth{
    background-color: #ffffff;
    color: #1a1a1a;
    border: 2px solid #ffffff;
}


.btn i{
    font-size: 14px;
    margin-left: 5px;
}
.txt-dark{
    color: #343a40 !important;
}

/*-------------------------------menu -----------------------------------*/
.navbar{
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0  rgba(0,0,0, .05);
    min-height: 100px;
}
.nav-link{
    color: #1a1a1a;
}

.nav-link:hover{
    color: #1a1a1a;
}

.logo-brand{
    min-width: 160px;
    max-width: 188px;
}

.navbar-toggler{
    font-size: 40px;
}
.navbar-toggler:focus{
    outline: none;
}

/*---------------------------------sesciom -----------------------------------*/

#hero{
    background-image: url('../img/hero.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
}

#hero p {
    color: #ffffff;
}

.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;


}

/*-------------------------Portafolio ---------------------*/
.portafolio-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;

}

.portafolio-detalle{
    position: absolute;
    bottom: 25px;
    left: 25;
    z-index: 9000;
}

.portafolio-detalle a h2 , .portafolio-detalle a p{
    color: #ffffff;
}
.portafolio-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}
.portafolio-container:hover img{
    -moz-transforms: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

}

.portafolio-detalle h2{
    margin-bottom: 0px;
}
/**------------------------------------------ mienbros ----------------------------*/

.mienbro-container{
    position: relative;
    margin: 10px 0;
}
.mienbre-detalle{
    position: absolute;
    color: #ffffff;
    bottom: 0px;
    left: 20px;
}

.mienbre-detalle span{
    font-size: 14px;
}
.mienbre-detalle i{
    padding: 0 5px;
}



/*---------------------------------------planes--------------------------*/

.precio-conteiner{
    margin: 15px 0;

}
.plan{
    padding: 50px 80px;
    border-radius: 2px ;
    min-width: 450px;
}


.plan-borde1{
    background-color: #ffffff;
    border:2px solid #1a1a1a;
}

.plan-borde2{
    background-color: #1a1a1a;
    border:2px solid #ffffff;
    color: #ffffff;
}

.plan ul {
    list-style-type: square;
}

/*------------------carousel   testimonios---------*/

.carousel{
    min-height: 240px;
    padding: 40px;
    border-radius: 2px;
    text-align: center;
}

.carousel p{
    font-size: 26px;
    font-weight: 400;
    color: #1a1a1a;
}

.carousel-control-prev , .carousel-control-next{
    color: #ffffff;
    opacity: 1;
    width: 5%;
}
.control-button{
    background-color: #1a1a1a;
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
}

.rankig i{
    color:#ffb944;
    font-size: 26px;
}

.testimonio-usuario{
    max-width: 240px;
    margin: 0 auto;
    text-align: left;
}
.testimonio-usuario h6{
    font-size: 12px;
    margin-bottom: 0px;
}
.testimonio-usuario span{
    font-size: 12px;
}
.testimonio-usuario img{
    border-radius: 50%;
    max-width: 50px;
    text-align: center;
}

.divider {
    border-bottom: 2px solid #f5f5f5;
}

/*----------------------------- contacto------------------------*/

.form-control{
    font-size: 14px;
    border: 1px solid #cacaca;
    padding: 15px;
    border-radius: 2px;
    height: auto;
}
.form-control:focus{
    border: 1px solid #1a1a1a;
    outline: none;
    box-shadow: none;
}

/*------------------------footer--------------------------------*/
#footer{
    padding: 80px 0;
    text-align: center;
    color: #ffffff;
}

#footer li{
    text-decoration: none;
}

#footer li a {
    color: #ffffff;
}
#footer  a:hover {
    color: #ffffff;
}

#footer .list-inline .list-inline-item{
    padding: 10px 15px;

}


@media (max-width: 575.98px) {
    h1{font-size: 40px; line-height: normal;}
    .portafolio-detalle h2{ font-size: 32px;}
    .plan{min-width: unset; padding: 40px;}
    .carousel-item p { font-size: 18px;}
    .control-button {width: 20px; height: 20px; }
    .footer-menu{display: block !important;padding: 20px 0 !important;font-size: 20px;}
    /*.navbar-brand {margin: auto !important; }*/
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /*.navbar-brand {margin: auto !important; }*/
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .plan{min-width: unset; padding: 40px 20px;}
    .portafolio-detalle h2{font-size:30px ;}
    /*.navbar-brand {margin: auto !important; } coloca el logo en el medio */ 
}
@media (min-width: 992px) and (max-width: 1199.98px) { }

@media (min-width: 1200px) {}